* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.game-board {
	width: 100%;
	height: 100vh;
	border-bottom: 16px solid rgb(28,119,10);
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background: linear-gradient(#46beee, #e0f6ff);
}

.pipe {
	position: absolute;
	bottom: 0;
	width: 80px;
	height: 112px;
	animation: pipe-animation 2s infinite linear;*/
}

@keyframes pipe-animation {
	from {
		right: -80px;
	}
	to {
		right: 100%;
	}
}

.mario {
	position: absolute;
	bottom: 0;
	width: 150px;
}

.jump {
	animation: jump 500ms infinite ease-out;
}

@keyframes jump {
	0% {
		bottom: 0;
	}

	40% {
		bottom: 180px;
	}
	50%{
		bottom: 180px;
	}
	60% {
		bottom: 180px;
	}

	100% {
		bottom: 0;
	}
}

.clouds {
	position: absolute;
	width: 550px;
	animation: clouds-animation 20s infinite linear;
}

@keyframes clouds-animation {
	from {
		right: -550px;
	}
	to {
		right: 100%;
	}
}

